$default_font: "Montserrat", sans-serif;
$default_font_size: 14px;
$color_white: #ffffff;
$color_gray: #717171;
$primary_color: #18cfab;
$secondary_color: #1fdab5;
$default_text_color: #777777;
$section_title_color: #4e4e4e;
$section_title_font_size: 36px;
$transition_duration: 0.3s;
$mobile_menu_bg_color: rgba(0, 0, 0, 0.9);
$mobile_menu_font_size: 20px;
$header_bg_color: rgba(73, 71, 63, 0.6);
$header_menu_color: #b8b8b8;
$header_menu_font_size: 13px;
$header_actions_color: #bbbbbb;
$header_actions_button_font_size: 22px;
$search_form_placholder_color: #a5a5a5;
$search_form_placholder_font_size: 13px;
$slide_overlay_color: rgba(23, 23, 23, 0.6);
$slider_buttons_color: #878787;
$slider_buttons_bg_color: #3c4140;
$slider_buttons_font_size: 40px;
$slide_subtitle_font_size: 35px;
$slide_title_font_size: 79px;
$slide_text_color: #d4d4d4;
$slide_text_font_size: 34px;
$slide_button_bg_color: #00cbf6;
$slide_button_font_size: 13px;
$options_item_bg_color: #1c2a33;
$options_item_font_size: 20px;
$features_title_font_size: 18px;
$about_section_overlay_color: rgba(28, 42, 51, 0.6);
$about_tab_buttons_font_size: 16px;
$about_tabs_text_color: #bebebe;
$about_skills_font_size: 13px;
$portfolio_section_bg_color: #f8fcfe;
$portfolio_section_border_color: #e1e1e1;
$projects_font_size: 12px;
$project_buttons_border_color: #ebebeb;
$project_buttons_font_size: 14px;
$project_category_color: #8a8a8a;
$project_load_button_font_size: 21px;
$service_buttons_bg_color: #f8fcfe;
$service_buttons_border_color: #eeeeef;
$service_buttons_font_size: 16px;
$service_description_font_size: 13px;
$purchase_section_overlay_color: rgba(28, 42, 51, 0.7);
$purchase_title_font_size: 40px;
$purchase_text_color: #d8d8d8;
$purchase_text_font_size: 16px;
$purchase_button_font_size: 13px;
$news_item_bg_color: #f8fcfe;
$news_date_bg_color: #203e38;
$news_date_font_size: 16px;
$news_item_border_color: #ebebeb;
$news_title_font_size: 18px;
$fact_color: #25333c;
$fact_number_font_size: 36px;
$fact_title_font_size: 18px;
$price_table_color: #2e4a5b;
$price_table_bg_color: #f8fcfe;
$price_table_border_color: #e1e1e1;
$offer_name_font_size: 24px;
$price_font_size: 40px;
$testimonial_overlay_color: rgba(46, 74, 91, 0.7);
$testimonial_color: #bbbbbb;
$review_font_size: 16px;
$review_career_font_size: 13px;
$review_picture_bg_color: rgba(31, 218, 181, 0.2);
$member_color: #2e4a5b;
$member_overlay_color: rgba(46, 74, 91, 0.5);
$member_name_font_size: 16px;
$member_career_font_size: 13px;
$member_social_border_color: #c7cfd3;
$member_social_font_size: 20px;
$benefits_section_bg_color: rgba(35, 54, 65, 0.6);
$benefits_title_font_size: 50px;
$benefits_subtitle_font_size: 48px;
$benefits_list_color: #f7f7f7;
$benefits_button_font_size: 13px;
$contact_form_input_border_color: #d7e2e0;
$contact_form_placeholder_color: #90aebd;
$contact_form_button_color: #08bf9b;
$footer_color: #294453;
$footer_bg_color: #1c2b33;
$footer_text_color: #b2b2b2;
$footer_items_default_bg_color: #22353f;
$footer_column_title_font_size: 18px;
$footer_logo_font_size: 40px;
$footer_contacts_text_color: #c1c1c1;
$footer_contacts_office_text_color: #c0c0c0;
$footer_contacts_title_font_size: 16px;
$footer_post_title_title_font_size: 16px;
$footer_post_publish_date_color: #f1f1f1;
$footer_tags_color: #b8b8b8;
$footer_tags_border_color: #d7d7d7;
$footer_newsletter_text_color: #b4b4b4;
$footer_subscribe_input_placeholder_color: #757575;
$copyright_text_color: #aeaeae;